src/main/mule/final-project-.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <http:listener-config name="final_project--httpListenerConfig">
<<<<<<< HEAD:src/main/mule/final-project-.xml
        <http:listener-connection host="0.0.0.0" port="${http.port}" />
    </http:listener-config>
    <apikit:config name="final_project--config" api="resource::e0183c77-c53c-4fa0-a9ff-244b04d31f35:final_project:1.0.5:raml:zip:final_project-.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="c4be9a49-e418-4be0-9d5d-d3b281a4ca65" >
		<wsc:connection wsdlLocation="${wsdls.wsdl}" service="${wsdls.service}" port="${wsdls.port}" address="${wsdls.address}"/>
	</wsc:config>
	<configuration-properties doc:name="Configuration properties" doc:id="d972d7f2-767a-4f20-a31f-f411c60f4a88" file="http-${env}.yaml" />
	<global-property doc:name="Global Property" doc:id="97e662ee-7f93-4816-9c1f-d16b1058d9d4" name="env" value="dev" />
=======
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="final_project--config" api="resource::e0183c77-c53c-4fa0-a9ff-244b04d31f35:final_project:1.0.5:raml:zip:final_project-.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="c4be9a49-e418-4be0-9d5d-d3b281a4ca65" >
		<wsc:connection wsdlLocation="${http.wsdl}" port="${http.port}" address="${http.address}" service="${http.service}"/>
	</wsc:config>
	<configuration-properties doc:name="Configuration properties" doc:id="df310188-7063-46fe-b5a3-078f6135b497" file="http-${env}.yaml" />
	<global-property doc:name="Global Property" doc:id="d1e65c0b-8c1c-4571-a488-dac865c17c49" name="env" value="dev" />
>>>>>>> 86e8758cfa1390d55e4e8cf09736e0a33a17c95f:src/main/mule/final_project-.xml
	<flow name="final_project--main">
        <http:listener config-ref="final_project--httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="final_project--config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="final_project--console">
        <http:listener config-ref="final_project--httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="final_project--config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\employees\(id):application\json:final_project--config">
		<ee:transform doc:name="Transform Message" doc:id="0d556395-1673-446c-8685-dfa6d7394e30">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/xml
ns ns0 http://www.cdi.com/employees
---
{
	ns0#UpdateEmployeeRequest: {
		ns0#Employee: {
			ns0#id: attributes.uriParams.id as Number,
			ns0#firstName: payload.firstName,
			ns0#lastName: payload.lastName,
			ns0#department: payload.department
		}
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="UpdateEmployee" doc:name="Consume" doc:id="6fb0751e-238e-421d-a7c1-249b2777043d" config-ref="Web_Service_Consumer_Config"/>
		<ee:transform doc:name="Transform Message" doc:id="d694770c-4c56-49c8-af9f-15903e1d407d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
ns ns0 http://www.cdi.com/employees
---
{
	id: payload.body.ns0#UpdateEmployeeResponse.ns0#Employee.ns0#id as String default "",
	firstName: payload.body.ns0#UpdateEmployeeResponse.ns0#Employee.ns0#firstName default "",
	lastName: payload.body.ns0#UpdateEmployeeResponse.ns0#Employee.ns0#lastName default "",
	department: payload.body.ns0#UpdateEmployeeResponse.ns0#Employee.ns0#department default ""
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
    <flow name="delete:\employees\(id):final_project--config">
        <ee:transform doc:name="Transform Message" doc:id="ee397963-6554-486d-8816-1298659fe01c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://www.cdi.com/employees
---
{
	ns0#DeleteEmployeeRequest: {
		ns0#id: attributes.uriParams.id as Number
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="DeleteEmployee" doc:name="Consume" doc:id="64e3c01e-b5a9-4d43-84d6-44106fe8a4a5" config-ref="Web_Service_Consumer_Config"/>
		<ee:transform doc:name="Transform Message" doc:id="a2c5979e-0b73-45ba-b748-fb66868eae09" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.body.DeleteEmployeeResponse]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
    <flow name="get:\employees\(id):final_project--config">
		<ee:transform doc:name="Transform Message" doc:id="bf484951-8c0e-4784-b5d2-e8d7ff9cf1ef" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://www.cdi.com/employees
---
{
	ns0#GetEmployeeRequest: {
		ns0#id: attributes.uriParams.id as Number
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="GetEmployee" doc:name="Consume" doc:id="3e7cc742-3a44-4b3c-a2c6-9868973172bd" config-ref="Web_Service_Consumer_Config" />
		<ee:transform doc:name="Transform Message" doc:id="90e8b15e-b15e-4b81-8e3d-b569bc02336f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
ns ns0 http://www.cdi.com/employees
---
{
	id: payload.body.ns0#GetEmployeeResponse.ns0#Employee.ns0#id as String default "",
	firstName: payload.body.ns0#GetEmployeeResponse.ns0#Employee.ns0#firstName default "",
	lastName: payload.body.ns0#GetEmployeeResponse.ns0#Employee.ns0#lastName default "",
	department: payload.body.ns0#GetEmployeeResponse.ns0#Employee.ns0#department default ""
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
<<<<<<< HEAD:src/main/mule/final-project-.xml
	<flow name="get:\employees:final_project--config">
		<ee:transform doc:name="Transform Message" doc:id="01eae360-7d36-45cb-94b9-b836d5c6327b" >
=======
    <flow name="get:\employees:final_project--config">
		<ee:transform doc:name="Transform Message" doc:id="b496335d-ff47-4023-806b-ea8b5746e763" >
>>>>>>> 86e8758cfa1390d55e4e8cf09736e0a33a17c95f:src/main/mule/final_project-.xml
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://www.cdi.com/employees
---
{
	ns0#GetAllEmployeesRequest: null
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
<<<<<<< HEAD:src/main/mule/final-project-.xml
		<wsc:consume doc:name="Consume" doc:id="b2527732-3f0e-4b0c-9c69-5099d495c171" config-ref="Web_Service_Consumer_Config" operation="GetAllEmployees"/>
		<ee:transform doc:name="Transform Message" doc:id="d4471400-07b5-4fdd-8a01-abc7d4613ca1" >
=======
		<wsc:consume doc:name="Consume" doc:id="89b54ef8-abd5-4505-bf47-61fd7ed83db7" config-ref="Web_Service_Consumer_Config" operation="GetAllEmployees"/>
		<ee:transform doc:name="Transform Message" doc:id="8e4fba48-ae84-4579-9c2a-3f6bac796ea3" >
>>>>>>> 86e8758cfa1390d55e4e8cf09736e0a33a17c95f:src/main/mule/final_project-.xml
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
ns ns0 http://www.cdi.com/employees
---
payload.body.ns0#GetAllEmployeesResponse.*ns0#Employees map ( employee , indexOfEmployee ) -> {
	id: employee.ns0#id as String default "",
	firstName: employee.ns0#firstName default "",
	lastName: employee.ns0#lastName default "",
	department: employee.ns0#department default ""
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
<<<<<<< HEAD:src/main/mule/final-project-.xml
=======
    </flow>
    <flow name="post:\employees:application\json:final_project--config">
		<ee:transform doc:name="Transform Message" doc:id="9e759af4-aa85-47bb-8cb5-faf5e77336a4" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://www.cdi.com/employees
---
{
	ns0#UpdateEmployeeRequest: {
		ns0#Employee: {
			ns0#firstName: payload.firstName,
			ns0#lastName: payload.lastName,
			ns0#department: payload.department
		}
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume doc:name="Consume" doc:id="6a72529d-25cb-436e-bacd-40cf320c7154" config-ref="Web_Service_Consumer_Config" operation="AddEmployee"/>
		<ee:transform doc:name="Transform Message" doc:id="2d15cec0-d3ef-4436-b955-126e4eedcd30" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
ns ns0 http://www.cdi.com/employees
---
{
	id: payload.body.ns0#UpdateEmployeeResponse.ns0#Employee.ns0#id as String default "",
	firstName: payload.body.ns0#UpdateEmployeeResponse.ns0#Employee.ns0#firstName default "",
	lastName: payload.body.ns0#UpdateEmployeeResponse.ns0#Employee.ns0#lastName default "",
	department: payload.body.ns0#UpdateEmployeeResponse.ns0#Employee.ns0#department default ""
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
>>>>>>> 86e8758cfa1390d55e4e8cf09736e0a33a17c95f:src/main/mule/final_project-.xml
    </flow>
</mule>
